$background-color: #9c88ff;
$dark-color: #4d4380;
$toolbar-height: 68px;
$sidebar-width: 250px;
.Container {
    h1 {
        color: $dark-color;
        margin: 0;
        padding: 0 20px;
        font-size: 26px;
    }
    .User {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        a {
            font-size: 14px;
            text-decoration: none;
            color: #2c2c2c;
        }
    }
    .Toolbar {
        height: 68px;
        background-color: $background-color;
        padding: 0 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 40;
    }
    .Dashboard {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        .SideBarContainer {
            position: relative;
            display: flex;
            align-items: center;
            height: 100vh;
            > button{
                background-color: $dark-color;
                position: absolute;
                z-index: 300;
                height: 50px;
                width: 50px;
                border-radius: 50px;
                border: 1px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 50;
            }
            .ShowButton {
                margin-top: 20px;
                right: 218px;
            }
            .HideButton {
                right: -10px;
                
            }
            .Arrow {
                font-size: 22px;
                color: white;
            }
            .SideBar {
                background-color: $dark-color;
                width: 250px;
                height: 100vh;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: static;
                z-index: 30;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 27px;
                }
                .Menu {
                    margin-top: calc(#{$toolbar-height} + 50px);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 23px;
                    text-align: right;
                    align-items: flex-start;

                    button {
                        font-family: "IRANSANSWeb";
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        color: white;
                        font-size: 18px;
                        width: 100%;
                        padding: 0;
                        display: flex;
                        flex-flow: row;
                        gap: 20px;
                        align-items: center;

                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 21px;
                        }
                    }
                    button:hover {
                        color: $background-color;
                    }
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
        }

        .Content {
            display: flex;
            /* position: absolute; */
            /* left: 0; */
            align-items: center;
            /* width: calc(100vw - 245px); */
            height: 100vh;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}
@media only screen and (max-width: 650px) {
    .SideBar {
        position: absolute !important;
    }
    .Toolbar {
        position: absolute !important;
    }
}
