$background-color: #a7b8ee;
$dark-color: #0d3864;
$toolbar-height: 68px;
$sidebar-width: 250px;
// $Message-color:#b6c4ef78;
.Container {
    h1 {
        color: $dark-color;
        margin: 0;
        padding: 0 20px;
        font-size: 26px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .User {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        a {
            font-size: 14px;
            text-decoration: none;
            color: #2c2c2c;
        }
    }
    .Toolbar {
        height: 68px;
        background-color: $background-color;
        padding: 0 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 40;
    }
    .Dashboard {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        .SideBarContainer {
            position: relative;
            display: flex;
            align-items: center;
            height: 100vh;
            > button {
                background-color: $dark-color;
                position: absolute;
                height: 100%;
                width: 25px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 38;
                transition: right 0.3s ease-in-out;
                
                .Arrow{
                    font-size: 22px;
                    color: white;
                    transition: transform 0.3s ease-in-out;
                }
            }
            .ShowButton {
                right: 220px;
                .Arrow {
                    transform: rotateY(180deg);
                }
            }
            .HideButton {
                right: 0px;
                .Arrow {
                    transform: rotateY(0deg);
                }
            }

            .SideBar {
                background-color: $dark-color;
                width: 250px;
                height: 100vh;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: static;
                z-index: 30;
                transition: width 0.3s ease-in-out;
                border-left: 2px solid #ffffff;
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 27px;
                }
                .Menu {
                    margin-top: calc(#{$toolbar-height} + 50px);
                    display: flex;
                    flex-direction: column;
                    gap: 23px;
                    text-align: center;
                    align-items: center;
                    position: absolute;
                    right: 53px;
                    width: max-content;
                    transition: right 0.3s ease-in-out;
                    button {
                        font-family: "IRANSANSWeb";
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        color: white;
                        font-size: 18px;
                        width: 100%;
                        padding: 0;
                        display: flex;
                        flex-flow: row;
                        gap: 20px;
                        align-items: center;

                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 21px;
                        }
                    }
                    button:hover {
                        color: $background-color;
                    }
                }
            }
            .HideSideBar {
                background-color: $dark-color;
                width: 10px;
                height: 100vh;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: static;
                z-index: 30;
                transition: width 0.3s ease-in-out;
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 27px;
                }
                .Menu {
                    margin-top: calc(#{$toolbar-height} + 50px);
                    display: flex;
                    flex-direction: column;
                    gap: 23px;
                    text-align: center;
                    align-items: center;
                    position: absolute;

                    width: max-content;
                    transition: right 0.3s ease-in-out;
                    right: -150px;
                    button {
                        font-family: "IRANSANSWeb";
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        color: white;
                        font-size: 18px;
                        width: 100%;
                        padding: 0;
                        display: flex;
                        flex-flow: row;
                        gap: 20px;
                        align-items: center;

                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 21px;
                        }
                    }
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
            max-height: 30px;
        }
    }
    .Content {
        overflow: auto;
        display: flex;
        /* position: absolute; */
        /* left: 0; */
        align-items: center;
        /* width: calc(100vw - 245px); */
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        .Children{
            overflow: auto;
        }
        .Message {
            position: absolute;
            background-color: $background-color;
            border-radius: 7px;
            padding: 10px 20px;
            width: 320px;
            p {
                font-size: 16px;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                
            }
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            
        }
        .ShowMessage {
            top: 100px;
            opacity: 1;
            transition: all .6s ease-in-out;
        }
        .HideMessage {
            top: 70px;
            opacity: 0;
            transition: all .6s ease-in-out;
        }
    }
}
@media only screen and (max-width: 700px) {
    h1{
        font-size: 17px !important;
        padding: 0  !important;
    }
    .SideBar,
    .HideSideBar {
        position: absolute !important;
    }
    .Toolbar {
        position: absolute !important;
        .User , .User a{
            font-size: 13px;
        }
    }
    .Content {
        >div{
            margin: auto  !important;
        }
        justify-content: flex-end !important;
        h2 {
            font-size: 20px;
        }
        button {
            font-size: 11px;
        }
    }
}
@media only screen and (max-height: 700px){
    .Content{
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}