$background-color: #9c88ff;
$dark-color: #4d4380;
$toolbar-height: 68px;

.TriageModal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
        display: flex;
        flex-flow: column;
        gap: 5px;
    }
    input {
        border: 1px solid $dark-color;
        border-radius: 3px;
        padding: 8px 14px;
    }
    button {
        color: white;
        background-color: $dark-color;
        font-family: "IRANSansWeb";
        border: none;
        border-radius: 5px;
        padding: 8px 0;
        margin-top: 35px;
        font-size: 16px;
        cursor: pointer;
    }
}

