$dark-color: #4d4380;
$background-color: #9c88ff;
.Doctors {
    
    table {
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        width: 100%;
        td,
        th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: rgba($color: $background-color, $alpha: 0.3);
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: right;
            background-color: $dark-color;
            color: white;
        }
        .EditButton {
            text-align: center;
            button {
                color: white;
                background: $dark-color;
                border: none;
                border-radius: 50px;
                padding: 7px 8px;
                font-size: 13px;
                margin: auto;
                display: flex;
                cursor: pointer;
            }
        }
    }
    .AddButtonContainer{
        display: flex;
        flex-flow: row-reverse;
        margin-top: 55px;

        .AddButton {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            width: 173px;
            font-family: "IRANSansWeb";
            background-color: #4d4380;
            border: none;
            border-radius: 5px;
            padding: 8px 20px;
            color: white;
            cursor: pointer;

            div {
                display: flex;
                align-items: center;
                width: fit-content;
                align-self: center;
                font-size: 18px;
            }
        }
    }
    
    
}
